<nav class="top-nav">
  <div class="logo">
    <img src="/logo01.png" alt="Logo" height="72">
  </div>
  <div class="menu-items">
    <a mat-button href="/home" class="button-with-color-change <%= activePage === 'home' ? 'active' : '' %>">Home</a>
    <a mat-button href="/about" class="button-with-color-change <%= activePage === 'about' ? 'active' : '' %>">About</a>
    <a mat-button href="/project" class="button-with-color-change <%= activePage === 'project' ? 'active' : '' %>">Project</a>
    <a mat-button href="/services" class="button-with-color-change <%= activePage === 'services' ? 'active' : '' %>">Service</a>
    <a mat-button href="/contact" class="button-with-color-change nounderline <%= activePage === 'contact' ? 'active' : '' %>">Contact</a>
  </div>
</nav>
